<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.netfantazii.handy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".HandyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base">
        <activity
            android:name="ru.netfantazii.handy.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".core.notifications.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.netfantazii.handy.ALARM_GOES_OFF" />
                <action android:name="ru.netfantazii.handy.GEOFENCE_IS_CROSSED" />
                <action android:name="ru.netfantazii.handy.CANCEL_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <service android:name=".core.notifications.NotificationService" />
        <service
            android:name=".core.share.CatalogMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".core.share.CatalogDownloadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>